{% extends 'base.html.twig' %}

{% block title %}Edit Hashtags{% endblock %}

{% block body %}
    <h1>Edit Hashtags</h1>

    {{ include('hashtags/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hashtags_index') }}">back to list</a>

    {{ include('hashtags/_delete_form.html.twig') }}
{% endblock %}
