{% extends 'base.html.twig' %}

{% block title %}New Hashtags{% endblock %}

{% block body %}
    <h1>Create new Hashtags</h1>

    {{ include('hashtags/_form.html.twig') }}

    <a href="{{ path('hashtags_index') }}">back to list</a>
{% endblock %}
