header{
    display: flex;
    justify-content: center;
    background-color: rgba(var(--d87,255,255,255),1);
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
    height: 54px;
    position: fixed;
    transition: height .2s ease-in-out;
    width: 100%;
    z-index: 3;
    .container{
        width: 100%;
        max-width: 975px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .logo{
            margin-left: 20px;
            background: url('../assets/sprite2.png') no-repeat -122px -226px;
            width: 103px;
            height: 29px;
        }
        .search_container{
            .search{
                background: rgba(var(--b3f,250,250,250),1);
                border: solid 1px rgba(var(--b6a,219,219,219),1);
                border-radius: 3px;
                padding: 3px 10px 3px 26px;
                text-align: center;
                font-size: 16px;
            }
        }
        nav{              
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 3px;
                position: relative;
                div{
                    a{
                        width: 42px;
                        height: 42px;
                        display: flex;
                        align-items: center;
                        .add{
                            background: url('../assets/sprite1.png') no-repeat -494px -473px;
                            width: 23px;
                            height: 23px;
                        }
                        .home{
                            background: url('../assets/sprite1.png') no-repeat -208px -473px;
                            width: 23px;
                            height: 23px;
                        }
                        .inbox{
                            background: url('../assets/sprite1.png') no-repeat -312px -448px;
                            width: 24px;
                            height: 21px;
                        }
                        .compass{
                            width: 24px;
                            height: 24px;
                        }
                        .heart{
                            background: url('../assets/sprite1.png') no-repeat -156px -474px;
                            width: 24px;
                            height: 22px;
                        }
                       
                        
                    }
                    .profil_thumbnail{ 
                            border: 0 solid rgba(var(--i1d,38,38,38),1);
                            border-radius: 50%;
                            height: 28px;
                            width: 28px;
                        } 
                }
                #container_profil_thumbnail{ 
                    cursor: pointer;
                    #triangle{
                        display: none;
                        transition: opacity 75ms linear,transform 38ms ease-out,-webkit-transform 38ms ease-out;
                        background: rgba(var(--d87,255,255,255),1);
                        border: 1px solid #fff;
                        transform: rotate(135deg);
                        box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.0975);
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        left: 174px;
                        top: -5px;    
                    }
                    #container_submenu{
                        display: none;
                        transition: opacity 75ms linear,transform 38ms ease-out,-webkit-transform 38ms ease-out;
                        background: rgba(var(--d87,255,255,255),1);
                        box-shadow: 0 0 5px 1px rgba(var(--jb7,0,0,0),.0975);
                        border-radius: 6px;
                        position: absolute;
                        top: 48px;
                        left: 40px;
                        width: 230px;
                        .submenu{
                            .border{
                                background-color: rgba(var(--b38,219,219,219),1);
                                border: 0;
                                height: 1px;
                                margin: 0;
                                width: 100%;
                            }
                            a.profil{
                                position: relative;
                                z-index: 5;
                            }                            
                            a{
                                color: #262626;
                                padding: 8px 0;
                                display: flex;
                                text-decoration: none;
                                width: 100%;
                                height: 21px;
                                &:hover{
                                    background-color: rgba(var(--b3f,250,250,250),1);
                                }
                              img{
                                width: 16px;
                                height: 16px;
                                margin: 0 12px;
                              }  
                              p{
                                font-size: 14px;
                                line-height: 18px;
                                font-weight: 400;
                              }
                              .logout{
                                  margin-left: 12px;
                              }
                            }
                        }
                    }
                }
            }
        }
    }
}