.home_page{
    max-width: 614px;
    margin: auto;
    padding: 70px;
    .post_home{
        .container_post_home{
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        margin-bottom: 24px;
            .header_home{
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 60px;
                border-bottom: 1px solid #efefef;
                background-color: rgba(var(--d87, 255, 255, 255), 1);
                .user_header_home{
                    margin-left: 15px;
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    img{
                        width: 42px;
                        height: 42px;
                    }
                    a{
                        margin-left: 14px;
                        text-decoration: none;
                        color: #262626;
                        font-weight: 600;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                button{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 15px;
                    border: none;
                    background-color: transparent;
                    height: 24px;
                    width: 24px;
                    cursor: pointer;
                    .circle{
                        background: url('../assets/sprite2.png') no-repeat -59px -375px;
                        width: 14px;
                        height: 4px;
                    }
                }
            }
            .post_img{
                img{
                    width: 100%;
                }
            }
            .share{
                .icons{
                    display: flex;
                    justify-content: space-between;
                    margin: 5px;
                    .icons_share{
                        display: flex;
                        align-items: center;
                        a{
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: transparent;
                            border: none;
                            width: 40px;
                            height: 40px;
                            .like_icon_red{
                                background: url('../assets/sprite1.png') no-repeat -130px -474px;
                                width: 24px;
                                height: 22px;
                               
                            }
                            .like_icon{
                                background: url('../assets/sprite1.png') no-repeat -156px -474px;
                                width: 24px;
                                height: 22px;
                               
                            }
                            .comment_icon{
                                background: url('../assets/sprite1.png') no-repeat -208px -447px;
                                width: 24px;
                                height: 24px;
                            }
                            .send_icon{
                                background: url('../assets/sprite1.png') no-repeat -312px -448px;
                                width: 24px;
                                height: 21px;
                            }
                        }
                    }
                    a{ 
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: transparent;
                        border: none;
                        width: 40px;
                        height: 40px;
                        .save_icon{
                            background: url('../assets/sprite1.png') no-repeat -211px -499px;
                            width: 19px;
                            height: 24px;
                        } 
                    }
                }
                .likes{
                    button{
                        cursor: pointer;
                        font-weight: 600;
                        color: #262626;
                        background-color: transparent;
                        border: none;
                        margin-left: 15px;
                    }
                }
                .content{
                    a{
                        text-decoration: none;
                        font-weight: 600;
                        color: #262626;
                    }
                  margin: 5px 15px;  
                  white-space: nowrap;
                }
                .comment{
                    display: flex;
                    flex-direction: column;
                    margin: 5px 15px;
                    p{
                        padding-bottom: 5px;
                        a{
                            text-decoration: none;
                            font-weight: 600;
                            color: #262626; 
                        } 
                    }
                }
                .time {
                    margin: 5px 15px 15px 15px;
                    a{
                        color: #8e8e8e;
                        font-size: 10px;
                        letter-spacing: .2px;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }            
            }
            .add_comment{
                padding-left: 16px;
                padding-right: 16px;
                border-top: 1px solid #efefef;
                form{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    margin: 10px 0;
                    textarea{
                       font-family: 'Segoe UI', sans-serif; 
                        border: none;
                        max-height: 80px;
                        resize: none;
                        display: flex;
                        align-items: center;
                        background-color: transparent;
                        box-sizing: border-box;
                        &:focus { outline: none; }
                    }
                    button{
                        border: none;
                        background-color: transparent;
                        color: #0095f6;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}