.home{
    display: flex;
    justify-content: center;
    background-color: rgba(var(--b3f,250,250,250),1);
   
    .home_form{
        margin-top: 30px;
        .login{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(var(--b6a,219,219,219),1);
            border-radius: 1px;
            margin: 0 0 10px;
            padding: 10px 30px ;
            background-color: rgba(var(--d87,255,255,255),1);
            img{
                margin: 20px 0;
                width: 175px;
                height: 51px;
            }
            form{
                display: flex;
                flex-direction: column; 
                width: 100%;
                input{
                    margin: 10px 0;
                    font-size: 12px;
                    padding: 9px 0 7px 8px;
                    background: rgba(var(--b3f,250,250,250),1);
                    border: 1px solid rgba(var(--ca6,219,219,219),1);
                    border-radius: 3px;
                }
                button{
                    margin-top: 10px;
                    background-color: rgba(var(--d69,0,149,246),.3);
                    color: white;
                    opacity: 1;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    cursor: pointer;
                    font-weight: 600;
                    padding: 5px 9px;
                    text-align: center;
                }
               
            }  
            p{
                font-size: 13px;
                margin: 10px 40px 18px;
                color: rgba(var(--f52,142,142,142),1);
                &:before,
                &:after{
                content: "";
                display: inline-block;
                background-color: rgba(var(--b38,219,219,219),1);
                height: 1px;
                width: 50px;
                margin: 5px 18px;
                }
            }
            a{
                cursor: pointer;
                color: rgba(var(--fe0,0,55,107),1);
                font-size: 12px;
                line-height: 14px;
                margin-top: 12px;
                text-align: center;
                text-decoration: none;
            }
        }
        .sign {
            background-color: rgba(var(--d87,255,255,255),1);
            border: 1px solid rgba(var(--b6a,219,219,219),1);
            border-radius: 1px;
            margin: 0 0 10px;
            padding: 10px 0;
            p{
                color: rgba(var(--i1d,38,38,38),1);
                font-size: 14px;
                margin: 15px;
                text-align: center;
                a{
                    color: rgba(var(--d69,0,149,246),1);
                    font-size: 14px;
                    text-decoration: none;
                    font-weight: 600;
                }
            }
        }
        .link{
            text-align: center;
            p{
                color: rgba(var(--i1d,38,38,38),1);
                font-size: 14px;
                line-height: 18px;
                margin: 20px;
                text-align: center;
            }
            .download{
                img{
                    height: 40px;
                }
            }
        }
    }
}
