
.user_show_body{
    max-width: 975px;
    margin: auto;

    .user_show{
        display: flex;
        justify-content: center;
        padding-top: 50px;
        .profil_img{
            margin-top: 30px;   
            margin-right: 70px;
            img{
            height: 150px;
            width: 150px;  
            border-radius: 50%;
            border: 1px solid rgba(var(--ca6,219,219,219),1); 
            cursor: pointer;
            }
            #thumbnail_input{
                display: none;
            }
        }
        .profil_content{
            display: flex;
            flex-direction: column;
            margin: 30px;
            .username{
                display: flex;
                flex-direction: row;
                align-items: center;
                h3{
                    color: rgba(var(--i1d,38,38,38),1);
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 32px;
                }
                a{
                    margin-right: 10px;
                    button{
                        cursor: pointer;
                        margin-left: 20px;
                        background-color: transparent;
                        border: 1px solid rgba(var(--ca6,219,219,219),1);
                        border-radius: 4px;
                        color: rgba(var(--f75,38,38,38),1);
                        padding: 5px 9px;
                        font-weight: 600;
                    }
                }
                #btn_setting_modal{
                    margin-left: 5px;
                    width: 24px;
                    height: 24px;
                    cursor: pointer;
                    background: url('../assets/sprite1.png') no-repeat -286px -499px;
                }

            }
            .count{
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 20px 0;
                li{
                    font-size: 16px;
                    margin-right: 40px;
                    font-weight: 400;
                }
            }
            .description{
                :first-child{
                    font-weight: 600;
                }
            }
        }
    }
    .list_post_user{
        margin-top: 40px;
        border-top: 1px solid rgba(var(--b38,219,219,219),1);
        display: flex;
        align-items: center;
        justify-content: center;
        #square_post_user{
            border-top: 1px solid rgba(var(--i1d,38,38,38),1);
            color: rgba(var(--i1d,38,38,38),1);
            text-decoration: none;
            margin-right: 60px;
            padding-top: 10px;
            cursor: pointer;
            span{
                display: flex;
                align-items: center;
                .square_icon{
                    background: url('../assets/sprite2.png') no-repeat -174px -369px;
                    width: 12px;
                    height: 12px;
                }
                p{
                    margin-left: 6px;
                    text-transform: uppercase;
                }
            }
        }
        .igtv{
            color: rgba(var(--f52,142,142,142),1);
            text-decoration: none;
            margin-right: 60px;
            padding-top: 10px;
            cursor: pointer;
            span{
                display: flex;
                align-items: center;
                .igtv_icon{
                    background: url('../assets/sprite2.png') no-repeat -189px -369px;
                    width: 12px;
                    height: 12px;
                }
                p{
                    margin-left: 6px;
                    text-transform: uppercase;
                }
            }
        }
        #save_show_btn{
            color: rgba(var(--f52,142,142,142),1);
            text-decoration: none;
            margin-right: 60px;
            padding-top: 10px;
            cursor: pointer;
            span{
                display: flex;
                align-items: center;
                .save_icon{
                    background: url('../assets/sprite2.png') no-repeat 0 -389px;
                    width: 12px;
                    height: 12px;
                }
                p{
                    margin-left: 6px;
                    text-transform: uppercase;
                }
            }
        }
            .people{
                color: rgba(var(--f52,142,142,142),1);
                text-decoration: none;
                padding-top: 10px;
                cursor: pointer;
                span{
                    display: flex;
                    align-items: center;
                    .people_icon{
                        background: url('../assets/sprite2.png') no-repeat -216px -369px;
                        width: 12px;
                        height: 12px;
                    }
                    p{
                        margin-left: 6px;
                        text-transform: uppercase;
                    }
                }
            }
    }
    .post_user_show{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 1px;
        text-align: center;
        .no_post{
            font-size: 20px;
            font-weight: 350;
            margin: 50px;
        }
        .container_post_user{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            .post_user{
                position: relative;
                img{
                    cursor: pointer;
                    width: 293px;
                    height: 293px;
                    &:not(:first-child){
                        display: none;
                    }
                }
                .hover{
                    cursor: pointer;
                    opacity: 0;
                    position: absolute;
                    width: 293px;
                    height: 293px;
                    top: 0;
                    background-color: rgba(0,0,0,.3);
                    &:hover{opacity: 1;;}
                    .contain_hover{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 293px;
                        .likes_hover{
                            display: flex;
                            margin-right: 30px;
                            align-items: center;
                            p{
                                font-weight: 600;
                                font-size: 18px;
                                color: white;
                            }
                            .likes_hover_icon{
                                background: url('../assets/sprite2.png') no-repeat -340px -335px;
                                width: 19px;
                                height: 17px;
                                margin-right: 8px;
                            }
                        }
                        .comments_hover{
                            display: flex;
                            align-items: center;
                            p{
                                font-weight: 600;
                                font-size: 18px;
                                color: white;
                            }
                            .comments_hover_icon{
                                background: url('../assets/sprite2.png') no-repeat -112px -369px;
                                width: 14px;
                                height: 14px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
     .save_post_show{
        margin: 20px 0;
        display: none;
        flex-direction: column;
        font-size: 12px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 1px;
        p{
            color: #8e8e8e;
            font-size: 12px;
            font-weight: 400;
            margin: 15px 0 ;
        }
        .container_save_post{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            .save_post{
                position: relative;
                img{
                    cursor: pointer;
                    width: 293px;
                    height: 293px;
                    &:not(:first-child){
                        display: none;
                    }
                }
                .hover{
                    cursor: pointer;
                    opacity: 0;
                    position: absolute;
                    width: 293px;
                    height: 293px;
                    top: 0;
                    background-color: rgba(0,0,0,.3);
                    &:hover{opacity: 1;;}
                    .contain_hover{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 293px;
                        .likes_hover{
                            display: flex;
                            margin-right: 30px;
                            align-items: center;
                            p{
                                font-weight: 600;
                                font-size: 18px;
                                color: white;
                            }
                            .likes_hover_icon{
                                background: url('../assets/sprite2.png') no-repeat -340px -335px;
                                width: 19px;
                                height: 17px;
                                margin-right: 8px;
                            }
                        }
                        .comments_hover{
                            display: flex;
                            align-items: center;
                            p{
                                font-weight: 600;
                                font-size: 18px;
                                color: white;
                            }
                            .comments_hover_icon{
                                background: url('../assets/sprite2.png') no-repeat -112px -369px;
                                width: 14px;
                                height: 14px;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
     }   


}
#thumbnail_modal{
    background-color: rgba(0,0,0,.65);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
    #container_thumbnail_modal{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        background-color: rgba(var(--f23,255,255,255),1);
        border-radius: 12px;
    
        .title_thumbnail_modal{
            text-align: center;
            margin: 16px 32px;
            h3{
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
            }
        }
        .btn_thumbnail_modal{
            display: flex;
            flex-direction: column;
            
            #new_picture{
                form{
                    label{
                    color: #0095f6;
                    font-weight: 700;
                    border-top: 1px solid rgba(var(--b6a,219,219,219),1);
                    cursor: pointer;
                    line-height: 1.5;
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    }
                    input{
                        display: none;
                    }
                }
            }
            #delete_picture{
                border-top: 1px solid rgba(var(--b6a,219,219,219),1);
                text-align: center;
                min-height: 48px;
               display: flex;
               align-items: center;
               justify-content: center;
                button{
                     color: #ed4956;
                    font-weight: 800;
                    border: none;
                    cursor: pointer;
                    line-height: 1.5;
                    text-align: center;
                    background-color: transparent;
                }
                
            }
            #cancel{
                cursor: pointer;
                background-color: transparent;
                border-top: 1px solid rgba(var(--b6a,219,219,219),1);
                border-right: none;
                border-bottom: none;
                border-left: none;
                padding: 4px 8px;
                min-height: 48px;
            }
        }
    }
}