
.user_show_body{
    max-width: 975px;
    margin: auto;

    .user_show{
        display: flex;
        justify-content: center;
    padding-top: 50px;
        .profil_img{
            margin-top: 30px;
            img{
            width: 150px;  
            border-radius: 50%;
            border: 1px solid rgba(var(--ca6,219,219,219),1); 
            }
        }
        .profil_content{
            display: flex;
            flex-direction: column;
            margin: 30px;
            .username{
                display: flex;
                flex-direction: row;
                h3{
                    color: rgba(var(--i1d,38,38,38),1);
                    font-weight: 300;
                    font-size: 28px;
                    line-height: 32px;
                }
                button{
                    cursor: pointer;
                    margin-left: 20px;
                    background-color: transparent;
                    border: 1px solid rgba(var(--ca6,219,219,219),1);
                    border-radius: 4px;
                    color: rgba(var(--f75,38,38,38),1);
                    padding: 5px;
                }

            }
            .count{
                display: flex;
                flex-direction: row;
                list-style: none;
                margin: 20px 0;
                li{
                    font-size: 16px;
                    margin-right: 40px;
                    font-weight: 400;
                }
            }
            .description{
                :first-child{
                    font-weight: 600;
                }
            }
        }
    }
    .list_post_user{
        margin-top: 40px;
        border-top: 1px solid rgba(var(--b38,219,219,219),1);
        display: flex;
        justify-content: space-around;
        a{
            color: rgba(var(--i1d,38,38,38),1);
            text-decoration: none;
            span{
                display: flex;
                align-items: center;
                .square_icon{
                    background: url('../assets/sprite2.png') no-repeat -174px -369px;
                    width: 12px;
                    height: 12px;
                }
                p{
                    margin-left: 6px;
                }
            }
        }
    }

    .post_user_show{
        margin: 20px 0;
        display: flex;
        flex-direction: row;
        font-size: 12px;
        font-weight: 600;
        justify-content: center;
        letter-spacing: 1px;
        text-align: center;
        .container_post_user{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            .post_user{
                img{
                    cursor: pointer;
                    width: 293px;
                    height: 293px;
                    &:not(:first-child){
                        display: none;
                    }
                }
            }
        }
    }
}