* {
  padding: 0;
  margin: 0;
}

.home {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

.home .home_form {
  margin-top: 30px;
}

.home .home_form .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 30px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}

.home .home_form .login img {
  margin: 20px 0;
  width: 175px;
  height: 51px;
}

.home .home_form .login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home .home_form .login form input {
  margin: 10px 0;
  font-size: 12px;
  padding: 9px 0 7px 8px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}

.home .home_form .login form button {
  margin-top: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  color: white;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
}

.home .home_form .login p {
  font-size: 13px;
  margin: 10px 40px 18px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.home .home_form .login p:before, .home .home_form .login p:after {
  content: "";
  display: inline-block;
  background-color: rgba(var(--b38, 219, 219, 219), 1);
  height: 1px;
  width: 50px;
  margin: 5px 18px;
}

.home .home_form .login a {
  cursor: pointer;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
  text-decoration: none;
}

.home .home_form .sign {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.home .home_form .sign p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.home .home_form .sign p a {
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.home .home_form .link {
  text-align: center;
}

.home .home_form .link p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  margin: 20px;
  text-align: center;
}

.home .home_form .link .download img {
  height: 40px;
}

#Modal_dob {
  overflow-y: hidden;
}

#Modal_dob #background {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Modal_dob #background #container {
  background-color: rgba(var(--f23, 255, 255, 255), 1);
  border-radius: 12px;
  width: 400px;
}

#Modal_dob #background #container #modal_header {
  display: flex;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}

#Modal_dob #background #container #modal_header h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#Modal_dob #background #container #modal_header #close {
  font-size: 40px;
  font-weight: 100;
  padding-right: 5px;
  cursor: pointer;
}

#Modal_dob #background #container #modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#Modal_dob #background #container #modal_content h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

#Modal_dob #background #container #modal_content p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

#Modal_dob #background #container #modal_footer {
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  justify-content: center;
}

#Modal_dob #background #container #modal_footer button {
  padding: 15px;
  cursor: pointer;
  color: rgba(var(--d69, 0, 149, 246), 1);
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.user #form_sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-radius: 1px;
  margin: 0 auto;
  padding: 10px 0;
}

.user #form_sign .head_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user #form_sign .head_form img {
  margin: 15px;
  width: 175px;
}

.user #form_sign .head_form p {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}

.user #form_sign div input {
  margin: 10px 0;
  font-size: 12px;
  padding: 9px 60px 7px 8px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}

.user #form_sign button {
  margin-top: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  color: white;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
  width: 215px;
}

.user #form_sign p {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  line-height: 17px;
  margin: 20px 40px;
  text-align: center;
}

.user #form_sign p a {
  text-decoration: none;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 600;
}

.user #dob_sign {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 28px;
  max-width: 350px;
}

.user #dob_sign .header_dob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user #dob_sign .header_dob img {
  width: 145px;
}

.user #dob_sign .header_dob h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0 10px;
}

.user #dob_sign .header_dob p {
  font-size: 14px;
}

.user #dob_sign .header_dob #btn_birthday {
  margin-bottom: 10px;
  border: 0;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  font-size: 14px;
  font-weight: 500;
  color: rgba(var(--d69, 0, 149, 246), 1);
  cursor: pointer;
  padding: 5px;
}

.user #dob_sign select {
  font-size: 12px;
  height: 36px;
  padding: 0 24px 0 8px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  border: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  border-radius: 3px;
  margin: 0 2px;
}

.user #dob_sign .footer_dob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user #dob_sign .footer_dob p {
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  margin: 10px 0;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.user #dob_sign .footer_dob #submit {
  margin-top: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  color: white;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
}

.user #dob_sign .footer_dob a {
  margin: 15px 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.user .login {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 20px 0 10px;
  padding: 10px 35px;
  max-width: 350px;
}

.user .login p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.user .login p a {
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.user .link {
  text-align: center;
}

.user .link p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  margin: 20px;
  text-align: center;
}

.user .link .download img {
  height: 40px;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/Segoe_UI/Segoe_UI.ttf)") format("truetype");
}

body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  font-family: 'Segoe UI', sans-serif;
}
/*# sourceMappingURL=main.css.map */