*{
    padding: 0;
    margin: 0;
   
}

@import '_login.scss';
@import '_newuser.scss';
@import '_usershow.scss';
@import '_header.scss';
@import '_newpost.scss';
@import '_explore.scss';
@import '_home.scss';
@import '_edituser.scss';


@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/Segoe_UI/Segoe_UI.ttf)') format('truetype')
}

body{
    background-color: rgba(var(--b3f,250,250,250),1);
    font-family: 'Segoe UI', sans-serif; 

} 


