* {
  padding: 0;
  margin: 0;
}

.login_page {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

.login_page .home_form {
  margin-top: 30px;
}

.login_page .home_form .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 30px;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}

.login_page .home_form .login img {
  margin: 20px 0;
  width: 175px;
  height: 51px;
}

.login_page .home_form .login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login_page .home_form .login form input {
  margin: 10px 0;
  font-size: 12px;
  padding: 9px 0 7px 8px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}

.login_page .home_form .login form button {
  margin-top: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  color: white;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
}

.login_page .home_form .login p {
  font-size: 13px;
  margin: 10px 40px 18px;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.login_page .home_form .login p:before, .login_page .home_form .login p:after {
  content: "";
  display: inline-block;
  background-color: rgba(var(--b38, 219, 219, 219), 1);
  height: 1px;
  width: 50px;
  margin: 5px 18px;
}

.login_page .home_form .login a {
  cursor: pointer;
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
  text-decoration: none;
}

.login_page .home_form .sign {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
}

.login_page .home_form .sign p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.login_page .home_form .sign p a {
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.login_page .home_form .link {
  text-align: center;
}

.login_page .home_form .link p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  margin: 20px;
  text-align: center;
}

.login_page .home_form .link .download img {
  height: 40px;
}

#Modal_dob {
  overflow-y: hidden;
}

#Modal_dob #background {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Modal_dob #background #container {
  background-color: rgba(var(--f23, 255, 255, 255), 1);
  border-radius: 12px;
  width: 400px;
}

#Modal_dob #background #container #modal_header {
  display: flex;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}

#Modal_dob #background #container #modal_header h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

#Modal_dob #background #container #modal_header #close {
  font-size: 40px;
  font-weight: 100;
  padding-right: 5px;
  cursor: pointer;
}

#Modal_dob #background #container #modal_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

#Modal_dob #background #container #modal_content h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
}

#Modal_dob #background #container #modal_content p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
}

#Modal_dob #background #container #modal_footer {
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  justify-content: center;
}

#Modal_dob #background #container #modal_footer button {
  padding: 15px;
  cursor: pointer;
  color: rgba(var(--d69, 0, 149, 246), 1);
  border: none;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.user #form_sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-radius: 1px;
  margin: 0 auto;
  padding: 10px 0;
}

.user #form_sign .head_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user #form_sign .head_form img {
  margin: 15px;
  width: 175px;
}

.user #form_sign .head_form p {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}

.user #form_sign div input {
  margin: 10px 0;
  font-size: 12px;
  padding: 9px 60px 7px 8px;
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 3px;
}

.user #form_sign button {
  margin-top: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  color: white;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
  width: 215px;
}

.user #form_sign p {
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-size: 12px;
  line-height: 17px;
  margin: 20px 40px;
  text-align: center;
}

.user #form_sign p a {
  text-decoration: none;
  color: rgba(var(--f52, 142, 142, 142), 1);
  font-weight: 600;
}

.user #dob_sign {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 28px;
  max-width: 350px;
}

.user #dob_sign .header_dob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user #dob_sign .header_dob img {
  width: 145px;
}

.user #dob_sign .header_dob h3 {
  font-size: 16px;
  font-weight: 500;
  margin: 16px 0 10px;
}

.user #dob_sign .header_dob p {
  font-size: 14px;
}

.user #dob_sign .header_dob #btn_birthday {
  margin-bottom: 10px;
  border: 0;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  font-size: 14px;
  font-weight: 500;
  color: rgba(var(--d69, 0, 149, 246), 1);
  cursor: pointer;
  padding: 5px;
}

.user #dob_sign select {
  font-size: 12px;
  height: 36px;
  padding: 0 24px 0 8px;
  color: rgba(var(--f52, 142, 142, 142), 1);
  border: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  border-radius: 3px;
  margin: 0 2px;
}

.user #dob_sign .footer_dob {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user #dob_sign .footer_dob p {
  font-size: 12px;
  text-align: center;
  line-height: 14px;
  margin: 10px 0;
  color: rgba(var(--f52, 142, 142, 142), 1);
}

.user #dob_sign .footer_dob #submit {
  margin-top: 10px;
  background-color: rgba(var(--d69, 0, 149, 246), 0.3);
  color: white;
  opacity: 1;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
}

.user #dob_sign .footer_dob a {
  margin: 15px 0;
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.user .login {
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 1px;
  margin: 20px 0 10px;
  padding: 10px 35px;
  max-width: 350px;
}

.user .login p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  margin: 15px;
  text-align: center;
}

.user .login p a {
  color: rgba(var(--d69, 0, 149, 246), 1);
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

.user .link {
  text-align: center;
}

.user .link p {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  margin: 20px;
  text-align: center;
}

.user .link .download img {
  height: 40px;
}

.user_show_body {
  max-width: 975px;
  margin: auto;
}

.user_show_body .user_show {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.user_show_body .user_show .profil_img {
  margin-top: 30px;
  margin-right: 70px;
}

.user_show_body .user_show .profil_img img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  cursor: pointer;
}

.user_show_body .user_show .profil_img #thumbnail_input {
  display: none;
}

.user_show_body .user_show .profil_content {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.user_show_body .user_show .profil_content .username {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_show_body .user_show .profil_content .username h3 {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
}

.user_show_body .user_show .profil_content .username a {
  margin-right: 10px;
}

.user_show_body .user_show .profil_content .username a button {
  cursor: pointer;
  margin-left: 20px;
  background-color: transparent;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  border-radius: 4px;
  color: rgba(var(--f75, 38, 38, 38), 1);
  padding: 5px 9px;
  font-weight: 600;
}

.user_show_body .user_show .profil_content .username #btn_setting_modal {
  margin-left: 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: url("../assets/sprite1.png") no-repeat -286px -499px;
}

.user_show_body .user_show .profil_content .count {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 20px 0;
}

.user_show_body .user_show .profil_content .count li {
  font-size: 16px;
  margin-right: 40px;
  font-weight: 400;
}

.user_show_body .user_show .profil_content .description :first-child {
  font-weight: 600;
}

.user_show_body .list_post_user {
  margin-top: 40px;
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_show_body .list_post_user #square_post_user {
  border-top: 1px solid rgba(var(--i1d, 38, 38, 38), 1);
  color: rgba(var(--i1d, 38, 38, 38), 1);
  text-decoration: none;
  margin-right: 60px;
  padding-top: 10px;
  cursor: pointer;
}

.user_show_body .list_post_user #square_post_user span {
  display: flex;
  align-items: center;
}

.user_show_body .list_post_user #square_post_user span .square_icon {
  background: url("../assets/sprite2.png") no-repeat -174px -369px;
  width: 12px;
  height: 12px;
}

.user_show_body .list_post_user #square_post_user span p {
  margin-left: 6px;
  text-transform: uppercase;
}

.user_show_body .list_post_user .igtv {
  color: rgba(var(--f52, 142, 142, 142), 1);
  text-decoration: none;
  margin-right: 60px;
  padding-top: 10px;
  cursor: pointer;
}

.user_show_body .list_post_user .igtv span {
  display: flex;
  align-items: center;
}

.user_show_body .list_post_user .igtv span .igtv_icon {
  background: url("../assets/sprite2.png") no-repeat -189px -369px;
  width: 12px;
  height: 12px;
}

.user_show_body .list_post_user .igtv span p {
  margin-left: 6px;
  text-transform: uppercase;
}

.user_show_body .list_post_user #save_show_btn {
  color: rgba(var(--f52, 142, 142, 142), 1);
  text-decoration: none;
  margin-right: 60px;
  padding-top: 10px;
  cursor: pointer;
}

.user_show_body .list_post_user #save_show_btn span {
  display: flex;
  align-items: center;
}

.user_show_body .list_post_user #save_show_btn span .save_icon {
  background: url("../assets/sprite2.png") no-repeat 0 -389px;
  width: 12px;
  height: 12px;
}

.user_show_body .list_post_user #save_show_btn span p {
  margin-left: 6px;
  text-transform: uppercase;
}

.user_show_body .list_post_user .people {
  color: rgba(var(--f52, 142, 142, 142), 1);
  text-decoration: none;
  padding-top: 10px;
  cursor: pointer;
}

.user_show_body .list_post_user .people span {
  display: flex;
  align-items: center;
}

.user_show_body .list_post_user .people span .people_icon {
  background: url("../assets/sprite2.png") no-repeat -216px -369px;
  width: 12px;
  height: 12px;
}

.user_show_body .list_post_user .people span p {
  margin-left: 6px;
  text-transform: uppercase;
}

.user_show_body .post_user_show {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.user_show_body .post_user_show .no_post {
  font-size: 20px;
  font-weight: 350;
  margin: 50px;
}

.user_show_body .post_user_show .container_post_user {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.user_show_body .post_user_show .container_post_user .post_user {
  position: relative;
}

.user_show_body .post_user_show .container_post_user .post_user img {
  cursor: pointer;
  width: 293px;
  height: 293px;
}

.user_show_body .post_user_show .container_post_user .post_user img:not(:first-child) {
  display: none;
}

.user_show_body .post_user_show .container_post_user .post_user .hover {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 293px;
  height: 293px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.user_show_body .post_user_show .container_post_user .post_user .hover:hover {
  opacity: 1;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 293px;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover .likes_hover {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover .likes_hover p {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover .likes_hover .likes_hover_icon {
  background: url("../assets/sprite2.png") no-repeat -340px -335px;
  width: 19px;
  height: 17px;
  margin-right: 8px;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover .comments_hover {
  display: flex;
  align-items: center;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover .comments_hover p {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.user_show_body .post_user_show .container_post_user .post_user .hover .contain_hover .comments_hover .comments_hover_icon {
  background: url("../assets/sprite2.png") no-repeat -112px -369px;
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

.user_show_body .save_post_show {
  margin: 20px 0;
  display: none;
  flex-direction: column;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
}

.user_show_body .save_post_show p {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 400;
  margin: 15px 0;
}

.user_show_body .save_post_show .container_save_post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.user_show_body .save_post_show .container_save_post .save_post {
  position: relative;
}

.user_show_body .save_post_show .container_save_post .save_post img {
  cursor: pointer;
  width: 293px;
  height: 293px;
}

.user_show_body .save_post_show .container_save_post .save_post img:not(:first-child) {
  display: none;
}

.user_show_body .save_post_show .container_save_post .save_post .hover {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 293px;
  height: 293px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.user_show_body .save_post_show .container_save_post .save_post .hover:hover {
  opacity: 1;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 293px;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover .likes_hover {
  display: flex;
  margin-right: 30px;
  align-items: center;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover .likes_hover p {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover .likes_hover .likes_hover_icon {
  background: url("../assets/sprite2.png") no-repeat -340px -335px;
  width: 19px;
  height: 17px;
  margin-right: 8px;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover .comments_hover {
  display: flex;
  align-items: center;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover .comments_hover p {
  font-weight: 600;
  font-size: 18px;
  color: white;
}

.user_show_body .save_post_show .container_save_post .save_post .hover .contain_hover .comments_hover .comments_hover_icon {
  background: url("../assets/sprite2.png") no-repeat -112px -369px;
  width: 14px;
  height: 14px;
  margin-right: 8px;
}

#thumbnail_modal {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
}

#thumbnail_modal #container_thumbnail_modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  background-color: rgba(var(--f23, 255, 255, 255), 1);
  border-radius: 12px;
}

#thumbnail_modal #container_thumbnail_modal .title_thumbnail_modal {
  text-align: center;
  margin: 16px 32px;
}

#thumbnail_modal #container_thumbnail_modal .title_thumbnail_modal h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

#thumbnail_modal #container_thumbnail_modal .btn_thumbnail_modal {
  display: flex;
  flex-direction: column;
}

#thumbnail_modal #container_thumbnail_modal .btn_thumbnail_modal #new_picture form label {
  color: #0095f6;
  font-weight: 700;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  cursor: pointer;
  line-height: 1.5;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#thumbnail_modal #container_thumbnail_modal .btn_thumbnail_modal #new_picture form input {
  display: none;
}

#thumbnail_modal #container_thumbnail_modal .btn_thumbnail_modal #delete_picture {
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  text-align: center;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#thumbnail_modal #container_thumbnail_modal .btn_thumbnail_modal #delete_picture button {
  color: #ed4956;
  font-weight: 800;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
}

#thumbnail_modal #container_thumbnail_modal .btn_thumbnail_modal #cancel {
  cursor: pointer;
  background-color: transparent;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-right: none;
  border-bottom: none;
  border-left: none;
  padding: 4px 8px;
  min-height: 48px;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  height: 54px;
  position: fixed;
  transition: height .2s ease-in-out;
  width: 100%;
  z-index: 3;
}

header .container {
  width: 100%;
  max-width: 975px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  margin-left: 20px;
  background: url("../assets/sprite2.png") no-repeat -122px -226px;
  width: 103px;
  height: 29px;
}

header .container .search_container .search {
  background: rgba(var(--b3f, 250, 250, 250), 1);
  border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
  padding: 3px 10px 3px 26px;
  text-align: center;
  font-size: 16px;
}

header .container nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  position: relative;
}

header .container nav ul div a {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
}

header .container nav ul div a .add {
  background: url("../assets/sprite1.png") no-repeat -494px -473px;
  width: 23px;
  height: 23px;
}

header .container nav ul div a .home {
  background: url("../assets/sprite1.png") no-repeat -208px -473px;
  width: 23px;
  height: 23px;
}

header .container nav ul div a .inbox {
  background: url("../assets/sprite1.png") no-repeat -312px -448px;
  width: 24px;
  height: 21px;
}

header .container nav ul div a .compass {
  width: 24px;
  height: 24px;
}

header .container nav ul div a .heart {
  background: url("../assets/sprite1.png") no-repeat -156px -474px;
  width: 24px;
  height: 22px;
}

header .container nav ul div .profil_thumbnail {
  border: 0 solid rgba(var(--i1d, 38, 38, 38), 1);
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

header .container nav ul #container_profil_thumbnail {
  cursor: pointer;
}

header .container nav ul #container_profil_thumbnail #triangle {
  display: none;
  transition: opacity 75ms linear,transform 38ms ease-out;
  background: rgba(var(--d87, 255, 255, 255), 1);
  border: 1px solid #fff;
  transform: rotate(135deg);
  box-shadow: -2px 2px 5px -1px rgba(0, 0, 0, 0.0975);
  width: 14px;
  height: 14px;
  position: absolute;
  left: 174px;
  top: -5px;
}

header .container nav ul #container_profil_thumbnail #container_submenu {
  display: none;
  transition: opacity 75ms linear,transform 38ms ease-out;
  background: rgba(var(--d87, 255, 255, 255), 1);
  box-shadow: 0 0 5px 1px rgba(var(--jb7, 0, 0, 0), 0.0975);
  border-radius: 6px;
  position: absolute;
  top: 48px;
  left: 40px;
  width: 230px;
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu .border {
  background-color: rgba(var(--b38, 219, 219, 219), 1);
  border: 0;
  height: 1px;
  margin: 0;
  width: 100%;
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu a.profil {
  position: relative;
  z-index: 5;
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu a {
  color: #262626;
  padding: 8px 0;
  display: flex;
  text-decoration: none;
  width: 100%;
  height: 21px;
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu a:hover {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu a img {
  width: 16px;
  height: 16px;
  margin: 0 12px;
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu a p {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

header .container nav ul #container_profil_thumbnail #container_submenu .submenu a .logout {
  margin-left: 12px;
}

.new_post {
  padding-top: 50px;
}

.body_post_explore {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 1px;
  text-align: center;
}

.body_post_explore .container_post_explore {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.body_post_explore .container_post_explore .post_explore img {
  cursor: pointer;
  width: 293px;
  height: 293px;
}

.body_post_explore .container_post_explore .post_explore img:not(:first-child) {
  display: none;
}

.home_page {
  max-width: 614px;
  margin: auto;
  padding: 70px;
}

.home_page .post_home .container_post_home {
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  margin-bottom: 24px;
}

.home_page .post_home .container_post_home .header_home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  border-bottom: 1px solid #efefef;
  background-color: rgba(var(--d87, 255, 255, 255), 1);
}

.home_page .post_home .container_post_home .header_home .user_header_home {
  margin-left: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.home_page .post_home .container_post_home .header_home .user_header_home img {
  width: 42px;
  height: 42px;
}

.home_page .post_home .container_post_home .header_home .user_header_home a {
  margin-left: 14px;
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}

.home_page .post_home .container_post_home .header_home .user_header_home a:hover {
  text-decoration: underline;
}

.home_page .post_home .container_post_home .header_home button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  border: none;
  background-color: transparent;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.home_page .post_home .container_post_home .header_home button .circle {
  background: url("../assets/sprite2.png") no-repeat -59px -375px;
  width: 14px;
  height: 4px;
}

.home_page .post_home .container_post_home .post_img img {
  width: 100%;
}

.home_page .post_home .container_post_home .share .icons {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.home_page .post_home .container_post_home .share .icons .icons_share {
  display: flex;
  align-items: center;
}

.home_page .post_home .container_post_home .share .icons .icons_share a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.home_page .post_home .container_post_home .share .icons .icons_share a .like_icon_red {
  background: url("../assets/sprite1.png") no-repeat -130px -474px;
  width: 24px;
  height: 22px;
}

.home_page .post_home .container_post_home .share .icons .icons_share a .like_icon {
  background: url("../assets/sprite1.png") no-repeat -156px -474px;
  width: 24px;
  height: 22px;
}

.home_page .post_home .container_post_home .share .icons .icons_share a .comment_icon {
  background: url("../assets/sprite1.png") no-repeat -208px -447px;
  width: 24px;
  height: 24px;
}

.home_page .post_home .container_post_home .share .icons .icons_share a .send_icon {
  background: url("../assets/sprite1.png") no-repeat -312px -448px;
  width: 24px;
  height: 21px;
}

.home_page .post_home .container_post_home .share .icons a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: relative;
}

.home_page .post_home .container_post_home .share .icons a .empty {
  background: url("../assets/sprite1.png") no-repeat -211px -499px;
  width: 19px;
  height: 24px;
}

.home_page .post_home .container_post_home .share .icons a .full {
  background: url("../assets/sprite1.png") no-repeat -133px -499px;
  width: 19px;
  height: 24px;
}

.home_page .post_home .container_post_home .share .icons a .likes {
  position: absolute;
  cursor: pointer;
  font-weight: 600;
  color: #262626;
  background-color: transparent;
  border: none;
  top: 50px;
  left: 5px;
  width: 60px;
}

.home_page .post_home .container_post_home .share .content {
  margin-top: 30px;
  margin-left: 15px;
  white-space: nowrap;
}

.home_page .post_home .container_post_home .share .content a {
  text-decoration: none;
  font-weight: 600;
  color: #262626;
}

.home_page .post_home .container_post_home .share .comment {
  display: flex;
  flex-direction: column;
  margin: 5px 15px;
}

.home_page .post_home .container_post_home .share .comment p {
  padding-bottom: 5px;
}

.home_page .post_home .container_post_home .share .comment p a {
  text-decoration: none;
  font-weight: 600;
  color: #262626;
}

.home_page .post_home .container_post_home .share .time {
  margin: 5px 15px 15px 15px;
}

.home_page .post_home .container_post_home .share .time a {
  color: #8e8e8e;
  font-size: 10px;
  letter-spacing: .2px;
  text-transform: uppercase;
  text-decoration: none;
}

.home_page .post_home .container_post_home .add_comment {
  padding-left: 16px;
  padding-right: 16px;
  border-top: 1px solid #efefef;
}

.home_page .post_home .container_post_home .add_comment form {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.home_page .post_home .container_post_home .add_comment form textarea {
  font-family: 'Segoe UI', sans-serif;
  border: none;
  max-height: 80px;
  resize: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
}

.home_page .post_home .container_post_home .add_comment form textarea:focus {
  outline: none;
}

.home_page .post_home .container_post_home .add_comment form button {
  border: none;
  background-color: transparent;
  color: #0095f6;
  font-weight: 600;
}

#user_edit_page {
  padding-top: 100px;
}

#user_edit_page .user_edit_container {
  margin: auto;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  max-width: 935px;
  display: flex;
}

#user_edit_page .user_edit_container ul {
  border-right: 1px solid #dbdbdb;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 236px;
}

#user_edit_page .user_edit_container ul li a {
  color: #262626;
  padding: 16px;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

#user_edit_page .user_edit_container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

#user_edit_page .user_edit_container article .thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#user_edit_page .user_edit_container article .thumbnail img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  cursor: pointer;
  margin-right: 20px;
}

#user_edit_page .user_edit_container article form.edit_users {
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#user_edit_page .user_edit_container article form.edit_users div label {
  font-size: 16px;
  font-weight: 600;
  padding-right: 32px;
}

#user_edit_page .user_edit_container article form.edit_users div input {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: #262626;
}

#user_edit_page .user_edit_container article form.edit_users p {
  color: #8e8e8e;
  font-weight: 400;
  font-size: 12px;
}

@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/Segoe_UI/Segoe_UI.ttf)") format("truetype");
}

body {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  font-family: 'Segoe UI', sans-serif;
}
/*# sourceMappingURL=main.css.map */